<div class="jumbotron text-center">
  <h1>Collègues</h1>
</div>
<div class="container">
  <div class="row">
    <!--Colone de gauche-->
    <div class ="col-sx-12 col-sm-12 col-md-4 "style="text-align: center" >
      <img src="{{col['photoUrl']}}" class ="img-fluid rounded" alt="Fitz">
    </div>
    <!--colone de droite-->
    <div class = "col-sx-12 col-sm-12">
      <div class="row">
        <p>Matricul : {{col.matricule}}<br/>
        Nom : {{col.nom}}<br/>
        Prenom : {{col.prenom}}<br/>
        Email : {{col.email}}<br/>
        DateDeNaissance : {{col.dateDeNaissance}}<br/>
        </p>
      </div>

      <div class="row">
        <div class="col">
          <a href= "#" (click)="nouveauCollegue()">Créer un nouveau collègue</a>
        </div>

        <div class="col">
          <button style="text-align: right;" (clik)="modifier()">Modifier</button>
        </div>
      </div>
    </div>

  </div>
</div>


