<div class="jumbotron text-center">
  <h1>Collègues</h1>
</div>
<div class="container">
  <div class="row">
    <!--Colone de gauche-->
    <div class ="col-sx-12 col-sm-12 col-md-4 "style="text-align: center" >
      <img src="{{col['photoUrl']}}" class ="img-fluid rounded" alt="Fitz">
    </div>
    <!--colone de droite-->
    <div class = "col-sx-12 col-sm-12 col-md-8">
      <div class="row">
        <div class ="col-md-6">
        <p> Matricul : <br/>
        Nom : <br/>
        Prenom : <br/>
        DateDeNaissance : <br/>
        Email : <br/>
        Photo URL : <br/>
        </p>

      </div>

      <div class ="col-md-6">
        <p>
          {{col.matricule}}<br/>
          {{col.nom}}<br/>
          {{col.prenom}}<br/>
          {{col.dateDeNaissance}}<br/>
        </p>

        <div *ngIf="!modif">
          <p>
            {{col.email}}<br/>
          </p>
        </div>
        <div *ngIf="modif">
          <input type="email" class="form-control" id="email-" placeholder="@adress.com">
        </div>

        <div *ngIf="!modif">
          <p>
            {{col.photoUrl}}<br/>
          </p>
        </div>

        <div *ngIf="modif">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="urlphoto">URL photo</span>
            </div>
            <input type="text" class="form-control" aria-label="urlphoto" aria-describedby="urlphoto">
          </div>
        </div>

      </div>

      </div>
      <div class="row">
        <div class="col" *ngIf="!modif">
          <a href= "#" (click)="nouveauCollegue()" >Créer un nouveau collègue</a>
        </div>

        <!-- les bouttons-->
        <div class="col" style="text-align:left;">
          <button type="button" class="btn btn-outline-secondary float-right" (click)="modifier()" *ngIf="!modif">Modifier</button>
      <button type="button" class="btn btn-outline-secondary float-right" (click)="valider()" *ngIf="modif">Valider</button>
        </div>

      </div>
    </div>





