<div class="jumbotron text-center">
  <h1>Collègues</h1>
</div>
<div class="container">
  <div class="row">
    <!--Colone de gauche-->
    <div class ="col-sx-12 col-sm-12 col-md-4 "style="text-align: center" >
      <img src="{{col['photoUrl']}}" class ="img-fluid rounded" alt="Fitz">
    </div>
    <!--colone de droite-->
    <div class = "col-sx-12 col-sm-12 col-md-8">
      <div class="row">
        <div class ="col-md-6">
        <p> Matricul : <br/>
        Nom : <br/>
        Prenom : <br/>
        DateDeNaissance : <br/>
        Email : <br/>
        Photo URL : <br/>

        </p>
      </div>

      <div class ="col-md-6">
        <p>
          {{col.matricule}}<br/>
          {{col.nom}}<br/>
          {{col.prenom}}<br/>
          {{col.dateDeNaissance}}<br/>
          {{col.email}}<br/>
          {{col.photoUrl}}<br/>
        </p>

        <div class="from-group" [hidden]="elementMasquee">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email-" placeholder="@adress.com">
         </div>

      </div>
       <!-- l'input de l'email-->

      <!-- l'input de l'image-->

      </div>
      <div class="row">
        <div class="col">
          <a href= "#" (click)="nouveauCollegue()">Créer un nouveau collègue</a>
        </div>

        <!-- les bouttons-->
        <div class="col" style="text-align:left;">
          <button type="button" class="btn btn-primary" (clik)="modifier()">Modifier</button>
        </div>

      </div>
    </div>





